.container,
.container-1,
.container-2,
.container-3,
.container-4 {
    border: 3px solid black;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.flex-box-container,
.flex-box-container-1,
.flex-box-rps,
.flex-box-pick-color,
.flex-box-container-row3 {
    display: flex;
    border: 2px solid black;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-box-container div {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}

.flex-box-rps img:hover {
    box-shadow: 0px 10px 10px rgb(70, 70, 226, 7);
}

.flex-box-container-row1,
.flex-box-container-row2 {
    width: auto;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    border: 2px solid black;
}

.flex-box-container-row1 div {
    border: 2px solid black;
    width: 450px;
    height: 300px;
}

table,
tr,
th,
td {
    border: 1px solid black;
}